@charset "UTF-8";
html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* ウェブフォントを指定 */
  font-family: 'Lato', sans-serif;
  font-weight: 100;
  /* 背景表示 */
  background-image: url("images/bg.jpg");
  background-size: cover;
  background-position: center;
}

button {
  /* ボタン要素のデフォルトスタイルをリセット */
  border: none;
  cursor: pointer;
  appearance: none;
  background: transparent;
  border-radius: 5px;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  font-weight: inherit;
  user-select: none;
}

/* タイトル表示 */
h1 {
  font-size: calc(100vw / 10);
  text-align: center;
  margin: 0;
  padding: 40px 0 0 0;
  color: white;
}

.link {
  width: 20vw;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 2rem;
  /* トランジションの時間 */
  transition: all 0.5s;
  /*  各ボタンの位置と色 */
}
.link button {
  color: white;
  width: 100%;
  height: 100%;
  /* モーション用の指定 */
  transition: all 0.1s;
}
.link.link-1 {
  transform: translate(10vw, calc(100vh - 200px));
  background: #ad1457;
}
.link.link-2 {
  transform: translate(40vw, calc(100vh - 200px));
  background: #6a1b9a;
}
.link.link-3 {
  transform: translate(70vw, calc(100vh - 200px));
  background: #283593;
}
.link.show {
  width: 100vw;
  height: 100vh;
  transform: translate(0, 0);
  z-index: 10;
}
.link.show button {
  opacity: 0;
}

.detail {
  /* 画面全体を覆うように左上に配置 */
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 40px;
  box-sizing: border-box;
  overflow: auto;
  z-index: 11;
  /* 非表示に設定しておく */
  visibility: hidden;
  /* Closeボタン */
  /* 出現モーション */
}
.detail h2 {
  font-size: 3rem;
  color: white;
  margin: 0 0 1rem;
  /* モーション用の指定 */
  transition: all 0.3s;
  transform: translate(0px, 30px);
  opacity: 0;
}
.detail .desc {
  /* モーション用の指定 */
  transition: all 0.3s;
  transform: translate(0px, 30px);
  opacity: 0;
}
.detail .desc p.dummy_100 {
  background: white;
  width: 100%;
  height: 1rem;
}
.detail .desc p.dummy_80 {
  background: white;
  width: 80%;
  height: 1rem;
}
.detail .ui {
  margin-top: 2rem;
  text-align: center;
  /* モーション用の指定 */
  transition: all 0.3s;
  transform: translate(0px, 30px);
  opacity: 0;
}
.detail ul {
  /* 格子状に配置 */
  display: grid;
  grid-template-columns: repeat(auto-fill, 150px);
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}
.detail ul > li {
  width: 150px;
  height: 150px;
  background: white;
  /* モーション用の指定 */
  transition: all 0.5s;
  transform: translate(0px, 30px);
  opacity: 0;
}
.detail button.close {
  background: white;
  color: black;
}
.detail.show {
  /* 表示状態へ変更する */
  visibility: visible;
}
.detail.show h2 {
  /* 見出しの出現 */
  transition: all 0.75s;
  transition-delay: 200ms;
  transform: translate(0, 0);
  opacity: 1;
}
.detail.show .desc {
  /* 文章の出現 */
  transition: all 0.75s;
  transition-delay: 350ms;
  transform: translate(0, 0);
  opacity: 1;
}
.detail.show .ui {
  /* Closeボタンの出現 */
  transition: all 0.75s;
  transition-delay: 500ms;
  transform: translate(0, 0);
  opacity: 1;
}
.detail.show li {
  /* サムネイルの出現 */
  transition: all 0.75s;
  transform: translate(0, 0);
  opacity: 1;
}
.detail.show li:nth-child(0) {
  transition-delay: 300ms;
}
.detail.show li:nth-child(1) {
  transition-delay: 330ms;
}
.detail.show li:nth-child(2) {
  transition-delay: 360ms;
}
.detail.show li:nth-child(3) {
  transition-delay: 390ms;
}
.detail.show li:nth-child(4) {
  transition-delay: 420ms;
}
.detail.show li:nth-child(5) {
  transition-delay: 450ms;
}
.detail.show li:nth-child(6) {
  transition-delay: 480ms;
}
.detail.show li:nth-child(7) {
  transition-delay: 510ms;
}
.detail.show li:nth-child(8) {
  transition-delay: 540ms;
}
.detail.show li:nth-child(9) {
  transition-delay: 570ms;
}
.detail.show li:nth-child(10) {
  transition-delay: 600ms;
}
